@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); /*Imports the "Nunito Sans" font into the file.*/
/*Styles the body tag which is where content such as the text and photos are.*/
body {
    width: 100%; /*Sets the width of the tag to 100% of the width of the device screen.*/
    height: 100%; /* Sets the height of the tag to 100% of the height of the device screen.*/
    display: flex; /*Sets the type of box that the tag is rendered in. In this instance, the flex type is chosen which allows the manipulation of the aspects of elements inside the tag.*/
    flex-direction: column; /*Sets the direction of the elements inside the flex tag to horizontal.*/
    background-image: url("temp_background.png"); /*This identifies which image will be used on the background.*/
    background-repeat: no-repeat; /*Makes the background unable to repeat the image.*/
    background-position: center; /*Positions the image so that its center is the background.*/
    background-size: cover; /*Makes the image cover the dimensions specified without stretching it.*/
    justify-content: center; /*Spaces content inside the tag so that they're centered horizontally.*/
    align-items: center; /*Centers the items inside the tag vertically.*/
}
/*Sets styling for every element.*/
* {
    margin: 0; /*Sets the margin, or empty space around the chosen tag, to 0 or none.*/
    padding: 0; /*Sets the padding or extra space added to an element to none.*/
    box-sizing: border-box; /*Sets the dimensions of elements so they're based on the content inside them.*/
}
/*The header tag is for content at the top of a web page. Here, it'll be a navigation bar.*/
header{
    width: 100%;
    background-color: #ffffff; /*Sets the background color of the tag to white.*/
}
/*The footer tag for content at the bottom of a web page. Here, it'll contain a copyright notice and the RSHS art council's Instagram account.*/
footer {
    display: inline; /*Sets the class so it is on a new line, separate from previous elements.*/
    text-align: center; /*Aligns the text so it's horizontally centered in the tag.*/
    bottom: 0; /*Sets the position of the tag to the bottom of the page.*/
    position: initial; /*Sets the position of the tag to its default value which is relative.*/
    width: 100%;
    height: fit-content; /*Sets the height so it fits the content inside the tag.*/
    background-color: #ffffff;
}
/*a is the tag for hyperlinks while h1 and p are both tags for text, with h1 for big text such as titles and p being for small text like paragraphs. Lastly, h6 is for very small text.*/
a, h1, p, h6 {
    font-family: "Nunito Sans", sans-serif; /*This sets the font of the selected tags to "Nunito Sans".*/
}
/*Stylises the a tag when its hovered over by the cursor.*/
a:hover, .dropdown-content a:hover {
    color: #a9a9a9; /*Sets the color of the tag to gray.*/
}
/*This class stylises the links inside the footer.*/
.nav-link {
    text-decoration: none; /*Sets the text to have no decorations to it.*/
    transition: 0.25s; /*Sets the time of an aspect of the class changing to 0.25 seconds.*/
}
/*This tag is for creating bullet-point lists.*/
li {
    list-style: none; /*Removes the bullet-points from the tag.*/
}
/*This sets the text positions and height of the navigation bar.*/
.navbar {
    display: flex;
    justify-content: space-around; /*Sets the text inside the class to be equally spaced between each other in the class.*/
    align-items: center; /*Align text so they're at the center of the class.*/
    height: 7vw; /*Sets the height of the chosen tag to 7vw, with vw being a unit that relates to the device screen width.*/
}
/*This class is where the web page links are in.*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw; /*Sets the gap between text to 5vw.*/
}
/*This class is where the icon for the mobile dropdown menu of the navigation bar is in.*/
.icon {
    display: none; /*Sets the class to unviewable.*/
    cursor: pointer; /*Sets the cursor to a pointer when hovering over it.*/
}
/*This class creates the lines of the dropdown menu's icon.*/
.line {
    display: inline; 
    width: 4vw;
    height: 0.5vw;
    margin: 0.5vw auto; /*Sets the margin, with the first number being the vertical margins and the second number being the horizontal margins, with "auto" automatically setting the horizontal margins.*/
    transition: all 0.25s ease-in-out; /*Sets the transition of all tags with the "line" class to ease in and out at 0.25 seconds.*/
    background-color: #000000; /*Sets the background colour of the class to black.*/
}
/*This class is for a logo which will be in the navigation bar on the left of it.*/
.logo {
    width: 5.5vw;
    height: 5.5vw;
}
/*This class is where the main content of the webpages will be on, with the class being a background for the content to be in front of.*/
.background {
    text-align: center;
    width: 100%;
    min-height: 55vw; /*Sets the minimum height of the class to 55vw.*/
}
/*This class is to stylise the copyright notice in the footer.*/
.copyright {
    margin: 1.25vw 0; 
}
/*This class is to stylise text for the Instagram address of the arts council.*/
.address {
    color: #000000; /*Sets the color of the text to black.*/
    display: inline-block; /*This sets the display type of the class to inline, meaning the class will be displayed in the same line as other elements.*/
    text-decoration: none;
    margin: 0.8vw 0;
    transition: 0.25s;
    vertical-align: top; /*Vertically aligns the class so it's at the top of the tag it's in.*/
}
.copyright, .address {
    font-size: 1vw; /*Sets the font size of the classes to 1vw.*/
}
/*This class sets the position and dimensions the image of the Instagram logo.*/
.instagram {
    width: 3vw;
    height: 3vw;
}
/*This class is to stylise the title of each web page.*/
.title {
    margin: 3vw 0;
    display: block;
    text-align: center;
    font-size: 5vw;
    font-weight: 700; /*Sets the thickness of the tag, with 100 being the thinnest and 900 being the thickest.*/
    color: #ffffff;
}
/*This class is to stylise the image on the about page of my website.*/
.about-img {
    width: 35vw;
    height: 35vw;
    margin: 0.125vw 0 0 8vw;
}
/*This class creates a box in the about page where text will go in.*/
.about{
    width: 45vw;
    height: 25vw;
    margin: 5.5vw 8vw 0 0;
    float: right; /*Sets the position of the class to the the right of the device screen.*/
}
/*This class stylises the text on the about page.*/
.about p {
    text-align: center; /*Aligns the text to the left of the "about" class.*/
    margin: 3vw 2vw 0 2vw;
}
/*This class creates a box that the pictures and names of people in the arts council will be in.*/
.members {
    position: relative;
    display: inline-block; /*Sets the display type of the class to inline-block which stays in an already used line and allows elements to be beside it.*/
    width: fit-content;
    margin: 1vw 11vw;
    height: fit-content;
}
/*This class stylises the titles that people in the council hold.*/
.members h1 {
    text-align: center;
    margin: 1vw;
    font-size: 5vw;
    font-weight: 800;
}
/*This class is where the picture and name of a person in the council will go in.*/
.member-person {
    display: inline-block;
    text-align: center;
    margin: 0.125vw 1.5vw; 
    width: 15vw;
    height: 23.5vw;
}
/*This class is to set the position and size of the photos of the council members.*/
.member-person img {
    display: inline-block;
    margin: 0.5vw;
    width: 14vw;
    height: 18vw;
    object-fit: cover; /*Sets the image to be inside dimensions stated by cropping parts out.*/
}
/*This class is to stylise the text used for the names of council members.*/
.member-person p {
    text-align: center;  
    margin: 0.5vw;
}
/*This class creates a box where the images and text of the council's projects will be.*/
.projects {
    width: 70vw;
    margin: 3vw 15vw;
    height: 28vw;
}
/*This sets the dimensions and position of the image inside the projects box.*/
.projects img {
    float: left;
    object-fit: cover;
    object-position: center; /*Sets the image's center to be in the dimensions stated.*/
    width: 25vw;
    height: 22vw;
    margin: 3vw 2vw;
}
/*These two are for the names of the projects and text for what the projects are about respectively.*/
.projects h1, .projects p {
    float: left;
    width: 40vw;
}
.projects h1 {
    font-size: 3.5vw;
    font-weight: 800;
}
/*This class is where the image slider for the "Home" page will be in.*/
.slider {
    width: 100%;
    height: 50vw;
    overflow: hidden; /*This hides content that overflows the dimensions of the class.*/
}
/*This class is where the images and buttons for the slider will be in.*/
.slides {
    width: 500%;
    height: 50vw;
    display: flex; /*Sets the display type to flex which allows content in the class to be spread vertically and horizontally.*/
}
/*This stylises the buttons that a user can use to select a specific image.*/
.slides input {
    display: none;
}
/*This is where an image of the slider will be in.*/
.slide {
    width: 20%;
    transition: 0.5s;
}
/*Stylises the dimensions of the images in the slider.*/
.slide img { 
    width: 100%;
    height: 50vw;
    object-fit: cover; 
    object-position: center; /*Sets the object's center to be in the dimensions specified.*/
}
/*This class is where the buttons for the user to click through the photos will be.*/
.navigation-manual {
    position: absolute;
    width: 100%;
    margin: -5vw 0 0 0; /*A negative margin means the class will be move in the opposite direction than the margin's.*/
    display: flex;
    justify-content: center; 
}
/*This stylises the buttons that a user can click on to select a specific photo.*/
.manual-btn {
    border: 0.25vw solid #ffffff; /*Styles the border of the buttons, with 0.25vw being the width of the border of it, solid being its border type and setting its color to white.*/
    padding: 1vw;
    border-radius: 50%; /*Sets the border radius to 50% which makes it a circle.*/
    cursor: pointer;
    transition: 0.25s;
}
/*Sets the margin for every button except the last one.*/
.manual-btn:not(:last-child) {
    margin: 0 2vw 0 0;
}
/*Fills the inside of the buttons white when they're hovered over.*/
.manual-btn:hover {
    background-color: #ffffff;
}
/*The following three ids set the margins for the buttons. Each next button has -10% margin horizontally.*/
#radio1:checked ~ .first {
    margin: 0;
}
#radio2:checked ~ .first {
    margin: 0 -10%;
}
#radio3:checked ~ .first {
    margin: 0  -20%;
}
/*This class will be where buttons for an auto scroll of the slider will be in.*/ 
.navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -5vw 0 0 0;
}
/*This styles the auto scrolling buttons to be the same as the buttons the user will use.*/
.navigation-auto div {
    border: 0.25vw solid #ffffff;
    padding: 1vw;
    border-radius: 50%;
    transition: 0.25s;
}
/*Sets the margins of all the auto scrolling buttons except the last one.*/
.navigation-auto div:not(:last-child) {
    margin: 0 2vw 0 0;
}
/*Sets the background of the auto scrolling buttons when they're hovered over to white.*/
#radio1:checked ~ .navigation-auto .auto-btn-1, #radio2:checked ~ .navigation-auto .auto-btn-2, #radio3:checked ~ .navigation-auto .auto-btn-3 {
    background-color: #ffffff;
}
/*Creates a box where text aout the website such as a motto or news will be on.*/
.home {
    position: static;
    width: 70vw;
    height: fit-content;
    margin: 2vw 15vw 2.5vw 15vw;
}
/*Text in the "Home" page box.*/
.home p {
    display: inline-block;
    text-align: center;
    margin: 2vw 3vw;
}
/*Rounds the borders for images in the "Members" and "Projects" pages.*/
.member-person img, .projects img {
    border-radius: 0.75vw;
}
/*Sets the background color to white and rounds the corners to 1.5vw for the text boxes for the web pages of the website.*/
.home, .about, .members, .projects {
    background-color: #ffffff;
    border-radius: 1.5vw; /*Rounds the corners of the border around the classes to 1.5vw.*/
} 
/*Sets the font size to 1.5vw for the main text of the web pages for the website.*/
.member-person p, .about p, .home p, .projects p, .nav-link {
    font-size: 1.5vw; 
}
/*Sets the thickness of the fonts to 600 for the main text of the web pages for the website.*/
.member-person p, .about p, .home p, .projects p, .nav-link, .copyright, .address {
    font-weight: 600;
}
/*Sets the color of the fonts to black for the main text of the web pages for the website.*/
.member-person p, .about p, .home p, .projects p, .members h1, .projects h1, .nav-link, .copyright, .address {
    color: #000000; /*Sets the color of the text to black.*/
}